<h1>
    Welcome to my amazing website! I hope you enjoy your stay!
</h1>

<p>
    Here i will tell you about some things about myself
</p>

<p>
    My favorite band is Set it Off, I love playing video games! My favorites at the moment are Phasmophobia 
    and Kingdom Come Deliverance
</p>
